
GitExternals
tmp
Microsoft*
MATLAB*

.DS_Store*

*.idx
*.thm


*~

*.html

*.ps
*.gz
*.tar
*.tar.gz

*.aux
*.bbl
*.blg
*.dvi
*.log
*.toc
*.snm
*.nav
*.brf
*.pdfsync

*.out
*.pdf
*.tmproj

*.pyc

_region*
